<div class="jumbotron text-center">
  <h1>Welcome to Mark</h1>
  <h3>A site where your analysis is made easy.</h3>
</div>
<div class="row">
  <% if user_signed_in? %>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Your Profile</h2>
        <% if current_user.profile %>
          <%= link_to "Edit your profile", "#", class: 'btn btn-default btn-lg btn-block' %>
          <%= link_to "View your profile","#", class: 'btn btn-default btn-lg btn-block' %>
        <% else %>
          <p>Create your profile so that you can share your information with the other Users.</p>
          <%= link_to "Create your profile", "#" , class: 'btn btn-default btn-lg btn-block'%>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Make Analysis</h2>
        <p>Begin Your Quick analysis by entering the site and keyword</p>
        <%= link_to "Make a Trial", "#", class: 'btn btn-default btn-lg btn-block' %>
      </div>
    </div>
  <% else %>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Basic Membership</h2>
        <h4>Sign up for free and get make your analysis easy for you.</h4>
        <br/>
        <%= link_to "Sign up with Basic", "#", class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Pro Membership</h2>
        <h4>Sign up for the pro account for $10/month and get access to more features...</h4>
        <%= link_to "Sign up with Pro", "#", class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
  <% end %>
</div>
